.table-overview{
    width: 100%;
    /*height: 800px;*/
}
.table{
    width: 40px;
    height: 120px;
    background-color: black;
}
.table-overview > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.titel{
    margin: 30px auto;
    width: 300px;
    color: white;
    text-align: -webkit-center;
    border-radius: 5px;
}
.details{
    width: 100%;
    height:700px;
    border-radius: 5px;
    color: white;
}