.login{
    display: block;
    margin: 0px 0px 0px auto;
    width: 612px;
    height: 108px;
}
.login input[type=text]:not(.browser-default),.login input[type=password]:not(.browser-default){
    width: 160px;
    height: 24px;
}
nav .brand-logo{
    background-color: white;
}